@use "../abstracts/" as *;

.navbar {
  transition: background-color 0.3s ease-in-out;
}
.navbar-brand {
  @include font-style($size: 1.5rem, $spacing: 2px);
  color: #00b894 !important;
}

.nav-link {
  @include font-style($weight: 600);
  color: bs-secondary;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover,
.nav-link.active {
  color: $bs-primary;
}

.d-flex.flex-nowrap {
  white-space: nowrap; /* Ngăn văn bản xuống dòng */
}

@media (max-width: 1200px) {
  .navbar-brand {
    @include font-style($size: 1.2rem, $spacing: 2px);
  }

  .nav-link {
    font-size: 0.75rem;
    white-space: nowrap;
  }
}
