<!-- Hero Section -->
<header class="hero-section text-white text-center d-flex align-items-center">
  <div class="container">
    <h1 class="display-3 fw-bold">Biến Rác Thành Quỹ - Xây Tương Lai Xanh</h1>
    <p class="lead my-4 col-md-8 mx-auto">
      Chung tay giảm thiểu rác thải, gây quỹ cho các hoạt động vì môi trường, và
      xây dựng một cộng đồng xanh, sạch, đẹp cho thế hệ mai sau.
    </p>
    <a href="./collection.html" class="btn btn-cta btn-lg">Tham gia ngay</a>
  </div>
</header>
