<section class="partner-section py-5">
  <div class="container">
    <h2
      class="section-title text-center mb-5"
      data-aos="fade-down"
      data-aos-duration="1000"
    >
      <i class="bi bi-award-fill me-2 text-warning"></i>Đồng hành cùng chúng tôi
    </h2>
    <!-- <p class="text-muted lead col-md-8 mx-auto">
      Xin chân thành cảm ơn sự hỗ trợ quý báu từ các đối tác.
    </p> -->
    <div class="partner-grid" data-aos="fade-right" data-aos-delay="100">
      <div class="partner-item">
        <img
          src="../assets/images/hero-section/partner/vnpay.png"
          alt="VNPAY"
          class="partner-image"
        />
        <div class="partner-caption">VNPAY</div>
      </div>
      <div class="partner-item">
        <img
          src="../assets/images/hero-section/partner/viettelmoney.png"
          alt="ViettelMoney"
          class="partner-image"
        />
        <div class="partner-caption">Viettel Money</div>
      </div>
      <div class="partner-item">
        <img
          src="../assets/images/hero-section/partner/fpt.png"
          alt="FPT"
          class="partner-image"
        />
        <div class="partner-caption">FPT</div>
      </div>
      <div class="partner-item">
        <img
          src="../assets/images/hero-section/partner/comartek.png"
          alt="Comartek"
          class="partner-image"
        />
        <div class="partner-caption">Comartek</div>
      </div>
      <div class="partner-item">
        <img
          src="../assets/images/hero-section/partner/bap.png"
          alt="Goason"
          class="partner-image"
        />
        <div class="partner-caption">Bud & Prairie</div>
      </div>
    </div>
  </div>
</section>
