#project-overview .overview-item {
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#project-overview .overview-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
#project-overview .overview-icon i {
  transition: transform 0.3s ease;
}
#project-overview .overview-item:hover .overview-icon i {
  transform: scale(1.1);
}
