<section class="home-container">
  <include src="./layout/home/hero-section.html" locals="{}"> </include>

  <include src="./layout/home/intro-section.html" locals="{}"> </include>

  <include src="./layout/home/slogan-section.html" locals="{}"> </include>

  <include src="./layout/home/partner-section.html" locals="{}"> </include>

  <include src="./layout/home/project-overview.html" locals="{}"> </include>

  <include src="./layout/home/key-metrics.html" locals="{}"> </include>

  <include src="./layout/home/final-cta.html" locals="{}"> </include>
</section>
