<section class="container py-5">
  <div class="text-center mb-5">
    <h1 class="section-title display-5">Về chúng tôi</h1>
    <p class="lead text-muted">
      Tái Chế Rác - Gây Quỹ Xanh vì một hành tinh bền vững.
    </p>
  </div>

  <!-- Mission and Vision Section -->
  <include src="./layout/about/mission.html" locals="{}"> </include>

  <!-- Team Section -->
  <include src="./layout/about/team.html" locals="{}"> </include>

  <!-- Partners Section -->
  <include src="./layout/about/partners.html" locals="{}"> </include>
</section>
